.a-comment{
    font-weight: 500;
    font-size: 0.8rem;
    padding:5px;
    border: 1px solid var(--bg-color);
    background-color: var(--bg-color);
    margin-bottom: 3px;
    margin-top: 3px;
    border-radius: 15px;

}
.Collapsible__trigger{
    font-size: 1 rem;
    justify-content: end;
    display: inline;
}
.Collapsible__trigger:hover{
    cursor: pointer;
    color: blue;
}